@import "~@angular/material/core/theming/all-theme";
@import "~@angular/material/core/theming/palette";
@import "~@angular/material/core/theming/theming";
@import "~@angular/material/core/core";

@include md-core();

$primary: md-palette($md-blue);
$accent: md-palette($md-amber, A200, A100, A400);
$warn: md-palette($md-red);

$theme: md-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
