*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

cs-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    width: 320px;
}

md-icon[md-list-avatar] {
    line-height: 40px;
}
