<md-sidenav-container fxFlex fxLayout="column">
    <md-sidenav #menu class="nav">
        <md-toolbar color="primary"></md-toolbar>
        <md-nav-list>
            <ng-container *ngFor="let menu of menus">
                <span md-subheader *ngIf="menu.name">{{ menu.name }}</span>
                <md-list-item *ngFor="let item of menu.items">
                    <md-icon md-list-avatar>{{ item.icon }}</md-icon>
                    <span md-line>{{ item.name }}</span>
                </md-list-item>
            </ng-container>
        </md-nav-list>
    </md-sidenav>
    <cs-layout-header (toggle)="menu.open()"></cs-layout-header>
    <cs-layout-main></cs-layout-main>
    <cs-layout-footer></cs-layout-footer>
</md-sidenav-container>
